<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="public/css/grid.css">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/camera.css">
    <link rel="stylesheet" href="public/css/owl-carousel.css">
    <script src="public/js/jquery.js"></script>
    <script src="public/js/jquery-migrate-1.2.1.js"></script>
    <script src="public/js/device.min.js"></script>
  </head>
  <body>
    <div class="page">
      <!--
      ========================================================
      							HEADER
      ========================================================
      
      
      -->
      <header>
        <div class="container">
          <div class="brand">
            <h1 class="brand_name"><a href="./">{{TITLE}}</a></h1>
          </div><a href="callto:#" class="fa-phone">Info: 800-2345-6789</a>
          </div>
        <div id="stuck_container" class="stuck_container">
          <div class="container">
            <nav class="nav">
              <ul data-type="navbar" class="sf-menu">
                <li><a href="index.php?mode=home">Home</a>
                </li>
                <li><a href="index.php?mode=registrar">Registrar</a>
                </li>
                <li><a href="index.php?mode=consultar">Consultar</a>
                </li>
                <li><a href="index.php?mode=option3">Option 3</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!--
      ========================================================
                                  CONTENT
      ========================================================
      -->
      <main>
       
        <section class="well1" >
          <div class="container" >
            <div class="row" style="margin-left:0px;">
              {{CONTENT}}
            </div>
          </div>
        </section>
      </main>
      <!--
      ========================================================
                                  FOOTER
      ========================================================
      -->
      <footer>
        <section>
          <div class="container">
            <table style="border:hidden;">
                <tr>
                    <td style="border:hidden;">
            <div  style="text-align:right; color:white;">
                
                <p>Elaborado por: <strong>Ender Hernando Ortega Baez 1151211</strong></p>
                <p>Contacto: 3153042721 enderortega18@gmail.com</p>
                <label>UFPS - Cúcuta</label>
                        </div></td>
                    <td style="border:hidden">
                        <div >
                    <img  width=80px src =public/images/logo_ufps.png>
                        </div>
                            </td>
                </tr>
              </table>
          </div>
        </section>
      </footer>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>