<div class="container banner">
    <div class="row">
        <div class='col-md-7'>
            <img class="img-responsive" src="public/images/banner2.png"/>
        </div>
        <div class='col-md-5 banner_right'>
            <h1>HIPERAUTO </h1>
            <h2>Conoce la nueva gama de Ford!</h2>
            <a class="banner_btn" href="">Ver más</a>
        </div>
    </div>
</div>
<br>

<div class="main">
    <div class='container content_top'>
        <div class='row'>
            <div class="col-md-4 flag_grid">
                <img class="img-responsive" src="public/images/idea.png"/>
                <div class="flag_desc">
                    <h3><a href="#">Adquiere piezas para tu vehiculo.</a></h3>
                    <a href="#" class="link">Ver Más</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 flag_grid">

                <img class="img-responsive" src="public/images/empresa.png"/>
                <div class="flag_desc">
                    <h3><a href="#">Contactate con nuestros concesionarios.</a></h3>
                    <a href="#" class="link">Ver Más</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="public/images/plan.png"/>
                <div class="flag_desc">
                    <h3><a href="#">Perzonaliza tu auto.</a></h3>
                    <a href="#" class="link">Ver Más</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <br>
